
// - COLOR
$color-light-grey: #dfe6e9;
$color-grey: #b2bec3;
$color-dark-grey: #636e72;
$color-dark: #2d3436;

$color-light-green: #55efc4;
$color-green: #00b894;

$color-gb: #00cec9;

$color-light-blue: #81ecec;
$color-mid-blue: #74b9ff;
$color-blue: #0984e3;

$color-light-pink: #fab1a0;
$color-pink: #ff7675;
$color-orange: #e17055;
$color-red: #d63031;

$color-lemon: #ffeaa7;
$color-yellow: #fdcb6e;
